/*
* 
*/

/* generic elements
*/
html {
    height: 100%;
}
body {
    background-color: white;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

div {
  //  border: 1px solid black;
}

img {
    
}

/*
** Setting the structure of a page
*/

.body {
    display: grid;
    grid-template-areas: 
                    "menu"
                    "main"
                    "footer";
    grid-template-rows: 100px 1fr 45px;
}

/*
* The TOP Menu elements
*/
.menu {
    grid-area: menu;
    position: absolute;
    top: 0px;
    right: 0px;
}

.nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20em;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crumb {
    display: inline-block;
}

.crumb img {

}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/*
** THE Page stucture - MAIN
*/

.main {
    position: relative;
    width: 100%;
    grid-area: main;
}


.the-nine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;

}
.nine-dots {
    display: grid;
    border: 1px solid black;
    background-color: grey;
    padding: 1px;
    margin: 1px;
}



/*
* LOGO elements
*/
#top-w-logo{
    display: block;
    position: relative;
    top: 300px;
    width: 33%;
    margin: 0 auto;   
}

#p-logo {
    text-align: center;
}

/*
* The Middle Search form elements
*
* Class selectors
*/

/*Whole search contents*/
#search-form {
    position: relative;
    top: 370px;
}
/*Whole search contents*/
#the-search-form {
    width: 300px;
    overflow: hidden;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/****************************
*  SEARCH bar styling
*****************************/

span {
    display: block;
    overflow: hidden;
    padding-right: 10px;
    width: 300px;
}
input {
    width: 100%;
    background: transparent;
    border: none;
    background-color: transparent;
}
input:focus {
    background: transparent;
    border: none;
    outline: none;
}
#input{
    position: absolute;
    overflow: auto;
    bottom: 35px;
    height: 35px;
    display: flex;
    margin-bottom: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 0.5px solid lightgrey;
    border-bottom-right-radius: 50em 50em;
    border-top-right-radius: 50em 50em;
    border-bottom-left-radius: 50em 50em;
    border-top-left-radius: 50em 50em;
}
#input:hover {
    box-shadow: 0px 0px 2px 2px lightgray;
}

/* Search Bar buttons */
#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 400px;
    margin-top: 0;
    border: none;
    padding: 0;
    background: none;
}

.button {
    border: none;
    padding: 0;
    background: none;
}

#langs-id {
    position: relative;
   /* border: 1px solid black;*/
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 250px;
    margin-top: 20px;
    align-content: center;
}
#lang {
    
}

/*
*  FOOTER styling & positioning
*/
.footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    /*
    grid-template-areas: 
                    "top-footer top-footer top-footer"
                    "bottom-footer-a bottom-footer-a bottom-footer-b"
    grid-template-rows: 20px 20px;
    */
    background-color: lightgrey;
}
#country-bar {
    position: absolute;
    left: 0px;
    bottom: 20px;
    grid-area: "top-footer";
    border: 1px solid lightgray;
    width: 100%;
    
}
#footer-links {
    grid-area: "bottom-footer-a";
}
#fright {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid lightgray;
    width: 40%;
}
#fleft {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 1px solid lightgray;
    width: 60%;
}
